<!doctype html>
<html ng-app="purchaseApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="purchaseController" data-ng-init="GetListInsurancePolicies()">
  <div class="page-header">
    <h1> Список полисов </h1>
  </div>
  <div class="panel">
    <nav class="navbar">

      <form class="form-inline w-100">
        <div class="form-group">
          <div>
            <input class="form-control" ng-model="number" placeholder="Номер полиса" maxlength="10" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <input class="form-control" ng-model="fullName" placeholder="ФИО" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" ng-click="addItem(number, fullName)">Добавить</button>
          </div>
        </div>


        <div class="ml-auto">
          <div class="col-md-6">
            <input class="form-control" ng-model="filter" placeholder="Фильтр" ng-change="setFilter()" />
          </div>
        </div>

      </form>

    </nav>

    <dialog id="window">

      <input class="form-control" ng-model="dialogNumber" placeholder="Номер" maxlength="10" />
      <input class="form-control" ng-model="dialogDateOfCreation" placeholder="Дата создания" />
      <input class="form-control" ng-model="dialogFullName" placeholder="ФИО" />

      <button ng-click="dialogChangeItem()">Изменить</button>
      <button ng-click="dialogExit()">Отменить</button>

    </dialog>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Номер полиса</th>
          <th>Дата создания</th>
          <th>ФИО</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in filterList">
          <td><a href="" ng-click="changeItem(this.item)">{{item.number}}</a></td>
          <td>{{item.dateOfCreation}}</td>
          <td>{{item.fullName}}</td>
          <td>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" ng-click="deleteItem(this.item)">Удалить</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
